.outercontainer {
  background-color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  overflow: hidden !important;
}

.topbar {
  background-color: black;
  display: flex;
  height: (100/8)vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden !important;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 50%;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 50%;
}

body {
  margin: 0 !important;
}

.woman {
  height: 100%;
}


.text-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.signin-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.email-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.pass-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "League Spartan-Regular", Helvetica;

}

.name-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "League Spartan-Regular", Helvetica;
}

.text {
  margin-left: 7.5rem;

}

.gender {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#genderButtonM {
  margin-left: 7.5rem;
  background: white;
  color: black;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  border: black;
  border-style: solid;
  border-width: medium;
}

#genderButtonF {
  margin-left: 2.5rem;
  background: white;
  color: black;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  border: black;
  border-style: solid;
  border-width: medium;
}

#signUpButton {
  background: none;
  border: none;
}

#signInButton {
  background: black;
  color: white;
  width: 550px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
}